<template name="_myPopover">
    {{#ionModal customTemplate=true}}
    <div class="content">
        <ul class="list">
            <li class="item item-icon-right" value="asc" id="name.first_1">
                First Name ASC 
            </li>
            <li class="item item-icon-right" value="desc" id="name.first_-1">
                First Name DESC 
            </li>
            <li class="item item-icon-right" value="asc" id="name.last_1">
                Last Name ASC 
            </li>
            <li class="item item-icon-right" value="desc" id="name.last_-1">
                Last Name DESC 
            </li>
        </ul>
    </div>
    {{/ionModal}}
</template> 