<template name="contactsShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="contacts" text="Contacts"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Details</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_contactsEdit" data-id="{{contact._id}}">Edit</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding contact-detail"}}
      {{#with contact}}
        <div class="list card">
          <div class="item item-avatar">
            <img src="{{avatarUrl}}">
            <h2>{{name.first}} {{name.last}}</h2>
            <h3>Gender: {{gender}}</h3>
            <h2>Contacts</h2>
            <p>{{contacts.email}}, {{contacts.phonenumber}}</p>
            <h2>Location</h2>
            <p>Latitude: {{location.latitude}}, Longitude: {{location.longitude}}</p>
          </div>
        </div>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>
